In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('Algerian_forest_fires_cleaned_dataset.csv')

In [3]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [5]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [8]:
df.drop(['month','day','year'],axis=1,inplace=True)

In [9]:
df.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [10]:
df['Classes'].value_counts()

Classes
fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
not fire           1
not fire           1
Name: count, dtype: int64

In [12]:
df.isnull().sum()

Temperature    0
RH             0
Ws             0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
Region         0
dtype: int64

In [13]:
df['Classes']=np.where(df['Classes'].str.contains("not fire"),0,1)

In [14]:
#independet and dependent
x=df.drop('FWI',axis=1)
y=df['FWI']

In [15]:
y

0      0.5
1      0.4
2      0.1
3      0.0
4      0.5
      ...
238    6.5
239    0.0
240    0.2
241    0.7
242    0.5
Name: FWI, Length: 243, dtype: float64

In [25]:
###train test 
from sklearn. model_selection import train_test_split
x=df['Classes']
y=df['FWI']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
x_train.shape

(194,)

In [29]:
#Feature selection odf corr
x_train.corr

<bound method Series.corr of 115    0
207    1
158    1
132    1
84     1
      ..
106    0
14     0
92     0
179    1
102    0
Name: Classes, Length: 194, dtype: int64>

In [30]:
x_test.corr

<bound method Series.corr of 24     1
6      1
152    0
232    0
238    1
175    0
215    1
150    1
9      0
113    0
45     0
209    0
227    1
170    1
82     1
161    0
236    0
15     0
66     1
127    1
33     0
19     0
108    1
30     0
185    1
164    1
10     1
73     1
93     0
155    1
111    1
217    0
25     1
60     1
18     0
126    0
96     1
196    1
137    0
240    0
75     1
117    0
112    1
16     0
195    1
67     1
167    1
38     0
180    1
Name: Classes, dtype: int64>

In [32]:
##check multicolinearity
plt.Figure(figsize=(12,10))
corr1=x_train.corr
sns.heatmap(corr1,annot=True)

ValueError: Must pass 2-d input. shape=()