In [ ]:
# 5 number summery and box plot

##minimun ,maximum,median,Q1,Q3,IQR