In [1]:
import pandas as pd
from sklearn .preprocessing import OneHotEncoder

In [2]:
##create a dataframe

df=pd.DataFrame(
    {
        'color':['red','green','blue','green','blue']
    }
)

In [3]:
df.head()

   color
0    red
1  green
2   blue
3  green
4   blue

In [ ]:
#create on instance of one of encoder

In [11]:
encoder=OneHotEncoder()

In [12]:
##perform fit and trasform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [13]:
encoded

array([[0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [15]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [16]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          1.0        0.0
4         1.0          0.0        0.0

In [17]:
##for any new data
encoder.transform([['blue']]).toarray()

C:\Users\rajpu\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])